
body {
    background-color: #181818;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    font-family: arial, sans-serif;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
  }
  
  .topnav a:hover {
    background-color: #181818;
    color: white;
  }
  
  .topnav a.active {
    background-color: #181818;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.Header {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    position:relative;
}

.WorkinProgress p {
    color: black;
    border: 1px solid black;
    background-color: #eed202;
    width: 100%;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    position: relative;
    top: 30px;
}

.Email_Submission p{
    color: white;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: -30px;
}

.Email_Submission p2{
    text-decoration: underline;
    color: white;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: -30px;
}

.Sub-heading {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    position:relative;
}

img {
    border: 2px solid black;
    box-shadow: 0 0 60px black;
    max-width: 100%;
}

.Lamp_NameAndBrand h2 {
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
}

.Lamp_Description {
    text-align: center;
    font-size: 20px;
}

.Lamp_Explanation p {
    font-size: 20px;
    text-align: center;
    width: 500px;
    margin: auto;
    max-width: 100%;
}

.Lamp_Location a{
    color: white;
}

.Lamp_Location a:hover{
    font-size: 25px;
}

.SocialMediaTag a{
    color: white;
}

.SocialMediaTag a:hover {
    font-size: 30px;
}

.SuggestionsText h2 {
    font-size: 15px;
    text-decoration: none;
}

.Lamp_About_Explanation p{
    font-size: 20px;
    text-align: center;
    width: 500px;
    margin: auto;
}

.Lamp_About_Origins p{
    font-size: 20px;
    text-align: center;
    width: 500px;
    margin: auto;
}