body {
    background-color: #181818;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #181818;
  }
  
  .topnav li {float: left;}
  
  .topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.topnav a:hover:not(.active) {background-color: #111;}
.topnav a.active {background-color: #111;}
  
  @media screen and (max-width: 600px) {
    .topnav li {float: left;}
  }

.Header {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    position:relative;
    top: -20px;
}

.WorkinProgress p {
    color: black;
    border: 1px solid black;
    background-color: #eed202;
    width: 100%;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

.Sub-heading {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    position:relative;
}

img {
    border: 2px solid black;
    box-shadow: 0 0 60px black;
}

.Lamp_NameAndBrand h2 {
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
}

.Lamp_Description {
    text-align: center;
    font-size: 20px;
}

.Lamp_Explanation p {
    font-size: 20px;
    text-align: center;
    width: 500px;
    margin: auto;
}

.Lamp_Location a{
    color: white;
}

.Lamp_Location a:hover{
    font-size: 25px;
}

.SocialMediaTag a{
    color: white;
}

.SocialMediaTag a:hover {
    font-size: 30px;
}

.SuggestionsText h2 {
    font-size: 15px;
    text-decoration: none;
}

hr.solid {
    border-top: 1px solid white;
  }